

body {
    background-color: gray;
  }
  .main_section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cv-image {
    margin-top: 6%;
    width: 50%;
    height: 50%;
  }
  @media only screen and (min-width: 200px) and (max-width: 1200px) {
    #cv-image {
      margin-top: 15%;
      width: 100vw;
      height: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    #nav-logo {
      width: 15rem;
      height: 100px;
      margin-top: 10px;
    }
  }
